asgiref==3.3.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
debtcollector==2.2.0
decorator==5.0.7
Django==3.2.2
django-mathfilters==1.0.0
django-unixtimestampfield==0.4.0
dnspython==1.16.0
extras==1.0.0
fasteners==0.16
fixtures==3.0.0
greenlet==1.1.0
idna==2.10
importlib-metadata==4.0.1
importlib-resources==5.1.2
iso8601==0.1.14
linecache2==1.0.0
lxml==4.6.3
MarkupSafe==1.1.1
msgpack==1.0.2
Naked==0.1.31
netaddr==0.8.0
netifaces==0.10.9
numpy==1.19.5
os-service-types==1.7.0
oslo.config==8.6.0
oslo.context==3.2.0
oslo.i18n==5.0.1
oslo.serialization==4.1.0
oslo.utils==4.8.0
packaging==20.9
pandas==0.25.3
pbr==5.6.0
pycparser==2.20
pycryptodome==3.10.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PySide2==5.15.2
python-dateutil==2.8.1
python-mimeparse==1.6.0
pytz==2021.1
PyYAML==5.4.1
repoze.lru==0.7
requests==2.25.1
rfc3986==1.5.0
shellescape==3.8.1
shiboken2==5.15.2
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
stevedore==3.3.0
testtools==2.4.0
traceback2==1.4.0
typing-extensions==3.10.0.0
unittest2==1.1.0
urllib3==1.26.4
vine==5.0.0
wrapt==1.12.1
zipp==3.4.1
