argon2-cffi==20.1.0
asgiref==3.3.4
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
crypto==1.4.1
debtcollector==2.2.0
decorator==5.0.7
defusedxml==0.7.1
Django==3.2.2
django-mathfilters==1.0.0
django-unixtimestampfield==0.4.0
dnspython==1.16.0
entrypoints==0.3
extras==1.0.0
fasteners==0.16
fixtures==3.0.0
greenlet==1.1.0
idna==2.10
importlib-metadata==4.0.1
importlib-resources==5.1.2
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
iso8601==0.1.14
jedi==0.18.0
Jinja2==3.0.1
json5==0.9.5
jsonschema==3.2.0
linecache2==1.0.0
lxml==4.6.3
MarkupSafe==2.0.1
mistune==0.8.4
msgpack==1.0.2
Naked==0.1.31
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netaddr==0.8.0
netifaces==0.10.9
notebook==6.4.0
numpy==1.19.5
os-service-types==1.7.0
oslo.config==8.6.0
oslo.context==3.2.0
oslo.i18n==5.0.1
oslo.serialization==4.1.0
oslo.utils==4.8.0
packaging==20.9
pandas==0.25.3
pandocfilters==1.4.3
parso==0.8.2
pbr==5.6.0
pickleshare==0.7.5
prometheus-client==0.11.0
prompt-toolkit==3.0.3
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.9.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.17.3
PySide2==5.15.2
python-dateutil==2.8.1
python-mimeparse==1.6.0
pytz==2021.1
pywin32==301
pywinpty==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
repoze.lru==0.7
requests==2.25.1
rfc3986==1.5.0
Send2Trash==1.5.0
shellescape==3.8.1
shiboken2==5.15.2
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
stevedore==3.3.0
terminado==0.10.0
testpath==0.5.0
testtools==2.4.0
tornado==6.1
traceback2==1.4.0
traitlets==4.3.3
typing-extensions==3.10.0.0
unittest2==1.1.0
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.4.1
