{% extends "layouts/base.html" %}

{% block title %} Ui Buttons {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/jqcloud.min.css">
<link rel="stylesheet" href="/static/assets/css/right_box.css">
{% endblock stylesheets %}

{% block content %}

                          
                           
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Appins</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">{{url}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                            
                                        <div class="right-box">
                                            <label> Search:<input onkeyup="filter()" type="search" id="keyword" class="form-control form-control-sm" placeholder="" aria-controls="dtBasicExample">
                                            </label>
                                        </div>
                                    </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>앱 이름</th>
                                                <th>패키지명</th>
                                                <th>다운로드 완료 시간</th>
                                                <th>다운로드 요청 시간</th>
                                                <th>마지막 업데이트 시간</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in content%}
                                            <tr class='list_data'>
                                                <td>{{p.title}}</td>
                                                <td>{{p.package_name}}</td>
                                                <td>{{p.delivery_data_timestamp_ms}}</td>
                                                <td>{{p.install_request_timestamp_ms}}</td>
                                                <td>{{p.last_update_timestamp_ms}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <!-- 페이징처리시작-->
                                    <ul class="pagination justify-content-center " id="buttonset">
                                        <!-- 이전페이지 -->
                                        {% if page.has_previous %}
                                        <li class="page-item">
                                            <button class="page-link"  id = "pre">이전</button>
                                        </li>
                                        {% else %}
                                        <li class="page-item ">
                                            <button class="page-link"  id = "pre">이전</button>
                                        </li>
                                        {% endif %}
                                       <!-- 페이지리스트 -->
                                        <!-- 다음페이지 -->
                                        
                                        <!-- 페이지리스트 -->
                                        {% for page_number in page.paginator.page_range %}
                                       
                                            {% if page_number == page.number %}
                                        <div id = {{page_number}} class = now_page > 
                                            <li class="page-item active" aria-current="page">
                                                <button class="page-link" id='pb{{page_number}}'>{{page_number}}</button>
                                            </li>
                                        </div>
                                        {% else %}
                                        <!-- 페이지가 더 많아지면 id=3, id=4 될듯-->
                                        <div id = {{page_number}}>
                                            <li class="page-item">
                                                <button class="page-link" id='pb{{page_number}}'>{{page_number}}</button>
                                            </li>
                                        </div>
                                        {% endif %}
                                   
                                        {% endfor %}
                                        
                                        <!-- 다음페이지 --> 
                                       
                                        <li class="page-item">
                                            <button class="page-link" id="next">다음</button>
                                            
                                        </li>

                                    </ul>
                                    <!-- 페이징처리 끝 -->
                                    <!-- 페이징처리끝-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ basic-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/jqcloud.js"></script>

<script>
 

$(document).on('mouseenter','span',function(){//동적으로 생선된 span태그의 이벤트 감지를 위해
        $('span').tooltip()
	}) 

    ////////////////
var class_value = 'page-item';
a="{{content|length}}"
max_length=a/10

var aa
var pagesu = max_length //"총 페이지 갯수"

$(document).ready(function() { //시작

///*****첫 화면 부분*****///    
for(var i=0;i<a;i++){ 
if(x[i].id!=1){
   $(x[i]).css("display", "none");
}else{
   $(x[i]).css("display", "");
}
}

for(var i = 6; i< pagesu+1; i++){ // 6p 부터 끝까지 숨김
    number = "#pb" + i
    $(number).css("display","none");
}


///*****첫 화면 부분 끝*****/// 

 for(var i = 0; i < pagesu+1; i++ )   {
    aa = "#pb" + i   

/////////////////////////////////////////&&&& 번호 클릭했을 때 &&&&//////////////////////////////////////////
    $(aa).click(function() {



///*****한 화면에 보여지는 페이지 수(하단) 지정하는 부분*****///         
var eng = $(this).attr('id')
console.log(eng)

var no=eng.replace(/[^0-9]/g,'');

//console.log(no+2)
noo = parseInt(no)
//console.log(noo+2)

for(var i = 0; i< no-5; i++){ //현재 페이지 -5까지 숨김

    number = "#pb" + i

   // console.log(number)
    $(number).css("display","none");
}

for(var i1 = noo+3; i1 < pagesu+1; i1++ ){  //숨김

    number = "#pb" + i1
    console.log("number:",number)
    $(number).css("display","none");
}

for(var i2 = no-4; i2<=noo+4; i2++){ //현재페이지 -5부터 +5까지 나타냄

    number = "#pb" + i2
    $(number).css("display","");
}
///*****한 화면에 보여지는 페이지 수(하단) 지정하는 부분 끝*****///  

        for(var x=0; x<=pagesu+2; x++){

            var aaa= "#pb" + x
            $(aaa).parent().attr('class', 'page-item')
        }

$(this).parent().addClass('page-item active')

var x = document.getElementsByClassName("list_data");
var y=this.id.substring(2,3)

for(var i=0;i<a;i++){
if(x[i].id!=y){
   $(x[i]).css("display", "none");
}else{
   $(x[i]).css("display", "");
}
}
});

} //for문 끝

/////////////////////////////////////////&&&& 번호 클릭했을 때 끝&&&&//////////////////////////////////////////


////#### 이전, 다음 버튼####////
$("#pre").click(function() {
        $(`#pb${$('.active').parent()[1].id-1}`).trigger('click')
});

$("#next").click(function() {
    console.log($('.active'))
    $(`#pb${parseInt($('.active').eq(1).parent()[0].id)+1}`).trigger('click')
});
////#### 이전, 다음 버튼 끝####////


}); //document 끝


//id부여
a="{{content|length}}"
max_length=a/10

var x = document.getElementsByClassName("list_data");
for(var j=0,i=0;i<a;i++){
if(i%10==0)j++
x[i].id=j.toString();
}

$( document ).ready(function() {
    $("#keyword").keyup(function(e) {
        if($(this).val()==''){
     var id=$("#buttonset").find('li[class="page-item active"]').children("button").attr("id")
     id=id.substring(2,3)
    $(`.list_data[id!=${id}]`).css("display","none")
}
    });
});



</script> 
<script src="/static/assets/js/filter.js">
</script>

{% endblock javascripts %}


