{% extends "layouts/base.html" %}

{% block title %} Ui Buttons {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}<link rel="stylesheet" href="/static/assets/css/right_box.css">{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                
                <!-- [ Main Content ] end -->
                 <div class>
                                 <!--[연락처]start -->

                            <div class="card"  style="overflow-y:scroll; float:left; margin-right:20px; height: 650px;">
                            
                                <div class="card-header">
                                  {% comment %} <div class="right-box">
                                            <label> Search:<input onkeyup="filter()" type="search" id="keyword" class="form-control form-control-sm" placeholder="" aria-controls="dtBasicExample">
                                            </label>
                                        </div> {% endcomment %}
                                    <h5>연락처</h5>
                                </div>
                               
                                         <table class="table table-hover tablesorter" id="contact">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>이름</th>
                                                <th>연락처</th>
                                                <th>전화 횟수<i class="fas fa-sort" style="margin-left:5px "></i></th> 
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {% for c in contact %}
                                            <tr class='list_data' id={{c.id}}>
                                                <td>{{c.id}}</td>
                                                <td>{{c.name}}</td>
                                                <td>{{c.number | slice:":11"}}</td>
                                                <td></td>                           
                                            </tr>
                                            {% endfor %}
                                            {% comment %} <tr class='list_data' id=2>
                                                <td>2</td>
                                                <td>이재훈</td>
                                                <td>01084824720</td>
                                                <td></td>                           
                                            </tr>  {% endcomment %}
                                        </tbody>
                                    </table>
                                      
                            </div>
                            <!--[연락처]end -->
                            <!--[전화기록]start -->
                             <div class="card"  style="overflow-y:scroll;height: 650px;">
                                <div class="card-header">
                                    <h5>전화기록</h5>
                                </div>
                                         <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>이름</th>
                                                <th>연락처</th>
                                                <th>날짜</th>
                                            </tr>
                                        </thead>
                                        <tbody id="calllog">
                                            {% for c in calllog %}
                                            <tr class='list_data' number={{c.number}}>
                                                <td>{{c.id}}</td>
                                                <td>{{c.name}}</td>
                                                <td>{{c.number}}</td>
                                                <td>{{c.date}}</td>
                                            </tr>
                                            {% endfor %}
                                             {% comment %} <tr class='list_data' number=01084824720>
                                                <td>8</td>
                                                <td>이재훈</td>
                                                <td >01084824720</td>
                                                <td>123123123</td>
                                            </tr>
                                             <tr class='list_data' number=01084824720>
                                                <td>9</td>
                                                <td>이재훈</td>
                                                <td >01084824720</td>
                                                <td>123123123</td>
                                            </tr>  {% endcomment %}
                                        </tbody>
                                    </table>
                               
                            </div>
                         <!--[전화기록]end -->

                </div>
                        
            </div>
                

        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
var ctl="{{contact|length}}" //연락처 행길이
var cll="{{calllog|length}}" //전화기록 행길이

$( document ).ready(function() {


    for(var i=1;i<=ctl;i++){//연락처의 전화횟수 알아내는 소스
    var findnumber=$(`#${i}`).find("td").eq(2).html()
    var count=$('#calllog').find(`tr[number=${findnumber}]`).length
    $(`#${i}`).find("td").eq(3).text(count)

}

$("#contact").tablesorter();
var flags=false

$('tr').click(function(){//연락처에서 선택시 전화기록에 해당 연락처 관련 기록만 보여준다.
if(this.id!=''&&(flags==false||this.id==flags)){         //toggle 방식이있는데 직관적인 if문으로 그냥 했다.
 flags=this.id
 console.log(flags)
if($(this).attr('style')==undefined||$(this).attr('style')==''){ //연락처에서 선택한 줄 색칠하기
     $(this).css("background-color", "#b2ddef")
     
 }else{
     $(this).css("background-color", "")
    flags=false
 }


 var findnumber=$(`#${this.id}`).find("td").eq(2).html()

 for(var i=0;i<cll;i++){
    if(findnumber==$(`#calllog`).find("tr").eq(i).attr('number'))
 {
     
        $(`#calllog`).find("tr").eq(i).css("display","")

 }else{
     if($(`#calllog`).find("tr").eq(i).attr('style')=="display: none;"){
          findnumber==$(`#calllog`).find("tr").eq(i).css("display","")
     }else{
          findnumber==$(`#calllog`).find("tr").eq(i).css("display","none")
     }
 }
 }

 



}

})






});

</script>
<script src="/static/assets/plugins/jquery/js/jquery.tablesorter.min.js"></script>
<script src="/static/assets/js/filter.js"></script>


{% endblock javascripts %}

