{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link href='/static/assets/css/main.css' rel='stylesheet' ></link>


{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                       
                        <!--[ Recent Users ] start-->
                        <div class="col-sm-6">
                            <div class="card Recent-Users" style="margin-bottom:0px ;height:740px">
                                <div class="card-header">
                                    <h5>최근 전화</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <tbody>
                                            {% for p in recentcall %}
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-2.jpg" alt="activity-user"></td>
                                                    <td>
                                                        <h6 class="mb-1">{{p.name}}</h6>
                                                        <p class="m-0">{{p.number}}</p>
                                                    </td>
                                                    <td>
                                                        <h6 class="text-muted" style="text-align: center;"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{p.date}}</h6>
                                                    </td>
                                                </tr>
                                               {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->

                        <!-- [ 캘린더  ] start -->
		                <div id='calendar' style='margin-bottom:20px;'></div>
                        <!-- [ 캘린더 chart ] end -->
                       
                       <!-- [ 기기정보 ] start-->

                        <div class="col-sm-6" >
                            <div class="card" style="width:1000px ;height:450px">
                                <div class="card-header">
                                    <h5>기기정보</h5>
                                </div>
                                <table class="table">
                                 <div class="card-body">
                                    <!-- 여기에 이미지-->
                                    <img src="{{imgpath}}" style="margin-left:10px" >
                                </div>
                                       
                                        <tr>
                                            <th>제조사: </th>
                                            <td>{{manufacturer}}</td>
                                        </tr>
                                        <tr>
                                            <th>모델번호: </th>
                                            <td>{{model}}</td>
                                        </tr>
                                        <tr>
                                            <th>SD카드: </th>
                                            <td>{{sdcard}}</td>
                                        </tr>
                                        <tr>
                                            <th>Local: </th>
                                            <td>{{local}}</td>
                                        </tr>    
                                </table>       
                            </div>
                        </div>
                        <!-- [ 기기정보 ] end-->

                         <!--[social-media section] start-->
                        
                        <!--[social-media section] end-->
                        

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src='/static/assets/js/main.js'></script>
<script src='/static/assets/js/ko.js'></script>
{{calendar|json_script:'dict-id'}}

<script>

$(document).ready(function(){

    var profile = $("#dict-id").text();
    var profileJson = JSON.parse(profile);
    console.log(profileJson)

	        var Calendar = FullCalendar.Calendar;
			var calendarEl = document.getElementById('calendar');

			var calendar = new Calendar(calendarEl, {
				headerToolbar: { //최상위 버튼
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek,timeGridDay'
				},
				editable: false,
				droppable: false,
				initialView: 'dayGridMonth',
				locale: 'ko',
				dayMaxEvents: true,
				events: profileJson //db에서 json으로 받아 캘린더에 표시 될 이벤트들
			});
			calendar.render();
    
})

</script>
{% endblock javascripts %}
