{% extends "layouts/base.html" %}

{% block title %} Google Maps {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">위치 정보에 따른 아티팩트</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">고급 기능</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">위치 정보에 따른 아티팩트</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <!-- [ Main Content ] start -->
            <div class="col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>위치 정보 시각화</h5>
                        <span class="d-block m-t-5">시간 순서에 따른 위치 표시</span>
                    </div>
                    <div class="card-block">
                        <form method="post" id="geocoding_form6">
                            <div id="map" class="set-map" style="height:600px;"></div>
                            
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkfnk4My0Tttw-jj8wa01Ii2PcepoiYLc&callback=initMap&libraries=&v=weekly"></script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
<script src="/static/assets/plugins/google-maps/js/gmaps.js"></script>

"{{geo|json_script:'dict-id'}}"
<script type="text/javascript">

    var profile = document.getElementById("dict-id").textContent;
    var profileJson = JSON.parse(profile);

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: {
            lat: profileJson[1][1], // 첫 마커를 중심으로
            lng: profileJson[1][2]
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var size = "{{geo|length}}"; // 마커 개수

    var marker, i;
    for (i = 1; i <= size; i++) {
        marker = new google.maps.Marker({
            id: profileJson[i][0],     // id
            position: { lat: profileJson[i][1], lng: profileJson[i][2] },
            map: map
        });
    
        google.maps.event.addListener(marker, 'click', (function (marker, i) { // 마커 클릭 이벤트
            return function () {
                $.ajax({
                    url: '/geo-Artifact.html',
                    data: { id: marker.id },        // 마커 id 값으로 data 불러오고
                    success: function (data) {      // data엔 id로 검색한 필요한 좌표에 대한 부가적인 정보를 서버에서 전달하여 담겨있다.
                        dataJson = JSON.parse(data) // JSON으로 파싱
                        
                        video_type = ['.mp4']; // 여기에 영상 확장자 다 넣어
                        var path = dataJson[0]['fields']['data']; // 경로를 넣어, 나중에 확장자 구하려고

                        var contentString = '<div class="iw-content">' + 
                                                '<div class="iw-subTitle">' + 
                                                    '<div class= "iw-image"> ' +
                                                        '<img id="info-img" src="' + dataJson[0]['fields']['data'] + '"style="max-width:100%"></img>' +
                                                        // '<video id="info-video" controls src="' + dataJson[0]['fields']['data'] + '" style="max-width:100%"></video>' +
                                                    '</div>' + 
                                                    '<ul id = "iw-info-list" class="info-list">' +
                                                        '<li id="info-Name">파일명 : ' + dataJson[0]['fields']['displayname'] + '</li>' +
                                                        '<li id="info-Date">찍은 날짜 : ' + dataJson[0]['fields']['datetaken'] + '</li>' +
                                                        // 경로는 tar 파일 전체 압축해제가 아니라서 보여줄 필요 X 삭제하자
                                                    '</ul>' +
                                                '</div>' +
                                            '</div>';
                        
                        for(var i=0; i<video_type.length; i++) {
                            if(path.substr(-4) == video_type[i]) {      // 경로 뒤 4개(확장자)를 잘라서 영상 확장자와 비교
                                contentString= contentString.replace('<img id="info-img', '<video controls id="info-video"');
                                contentString = contentString.replace('</img>', '</vedio>');
                            }
                        } 

                        infowindow.setContent(contentString);
                        infowindow.open(map, marker);
                        map.setZoom(15);
                        map.panTo(marker.getPosition()); // 마커로 부드러운 이동
                    }
                });
            }
        })(marker, i));
    }
    
    // Custom InfoWindow
    google.maps.event.addListener(infowindow, 'domready', function() {
            var iwOuter = $('.gm-style-iw');
            var iwBackground = iwOuter.prev();
            iwBackground.children(':nth-child(2)').css({'background' : '#252525'});
            var iwmain = iwBackground.children(':nth-child(2)');
            iwBackground.children(':nth-child(4)').css({'display' : 'none'});
            var iwCloseBtn = iwOuter.next();
        });

    google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
    });

</script>
{% endblock javascripts %}