{% extends "layouts/base.html" %}

{% block title %} Google Maps {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">위치 정보에 따른 아티팩트</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">고급 기능</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">위치 정보에 따른 아티팩트</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <!-- [ Main Content ] start -->
            <div class="col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>위치 정보 시각화</h5>
                        <span class="d-block m-t-5">시간 순서에 따른 위치 표시</span>
                        <form id="geo-duration" style="text-align: right;">
                            <input id="end-date" type="text" class="form-control form-control-sm" onchange="updateMarkers()">
                            <div style="width: fit-content; height: 43px; float:right; padding-top: 10px; margin-left: 20px; margin-right: 20px;">~</div>
                            <input id="start-date" type="text" class="form-control form-control-sm" onchange="updateMarkers()" >
                            <div style="float: right; padding-top: 7px; margin-right: 20px;"><i class="far fa-calendar-alt fa-2x"></i></div>
                                                        
                        </form>
                    </div>
                    <div class="card-block" style="padding: 15px 25px;" >
                        <li style="margin-left: 30px; float:right">시간 순서대로 마커 번호 지정</li>
                        <li style="margin-left: 30px; float:right">해당 마커 클릭시 사진 정보확인 가능</li><br><br>
                        <form method="post" id="geocoding_form6">
                            <div id="map" class="set-map" style="height:650px;"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

AIzaSyDkfnk4My0Tttw-jj8wa01Ii2PcepoiYLc

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkfnk4My0Tttw-jj8wa01Ii2PcepoiYLc&libraries=&v=weekly"></script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
<script src="/static/assets/plugins/google-maps/js/gmaps.js"></script>
<link rel="stylesheet" type="text/css" href="/static/assets/css/jquery.datetimepicker.css"></link>
<script src="/static/assets/js/jquery.datetimepicker.full.min.js"></script>


<script src="https://jawj.github.io/OverlappingMarkerSpiderfier/bin/oms.min.js"></script>


"{{geo|json_script:'dict-id'}}
<script type="text/javascript">

    var profile = document.getElementById("dict-id").textContent;
    var profileJson = JSON.parse(profile);
    var map;
    var markers = []; // 마커리스트
    var markerCluster;
    var clsuter_flag = 0;
    var infowindow = new google.maps.InfoWindow();
    var geocoder = new google.maps.Geocoder();
    var icon, click_icon;
    var size = "{{geo|length}}"; // 마커 개수
    var click_id = -1;

    function initDate() {
        /*======= datepicker 초기 설정 =======*/
        let firstDate = new Date(profileJson[1][3]); // 첫 마커의 dateTaken
        let lastDate =  new Date(profileJson[size][3]); // 마지막 마커의 dateTaken

        let tmpFormat = firstDate.getFullYear() + '-' + (firstDate.getMonth() + 1) + '-' + firstDate.getDate() + ' ' + firstDate.getHours() + ':' + firstDate.getMinutes();
        $('#start-date').val(tmpFormat);
        $('#start-date').datetimepicker({ // 달력 초기  셋팅
            format: 'Y-m-d H:i',
            minDate: firstDate.getFullYear() + '/' + (firstDate.getMonth() + 1) + '/' + firstDate.getDate(),
            maxDate: lastDate.getFullYear() + '/' + (lastDate.getMonth() + 1) + '/' + lastDate.getDate()
        });

        tmpFormat = lastDate.getFullYear() + '-' + (lastDate.getMonth() + 1) + '-' + lastDate.getDate() + ' ' + lastDate.getHours() + ':' + lastDate.getMinutes();
        $('#end-date').val(tmpFormat);
        $('#end-date').datetimepicker({
            format: 'Y-m-d H:i',
            minDate: firstDate.getFullYear() + '/' + (firstDate.getMonth() + 1) + '/' + firstDate.getDate(),
            maxDate: lastDate.getFullYear() + '/' + (lastDate.getMonth() + 1) + '/' + lastDate.getDate()  
        });
        /*======= datepicker 초기 설정 =======*/
    }
    
    function initialize() {
        var pre_zoom, now_zoom;

        initDate();

        map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {
            lat: 36.769982, 
            lng: 127.81598
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl : false, // 스크릿뷰 컨트롤은 필요없음
        scrollwheel : true
        });

        icon = { // 기본형 커스텀 마커
            path : 'M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z',
            fillColor: 'white',
            fillOpacity: 1,
            anchor: new google.maps.Point(250,520),
            strokeWeight: 2,
            strokeColor : '#3f4d67',
            labelOrigin: {x:200, y: 200},
            scale: 0.07,
        }

        click_icon = { // 클릭시 커스텀 마커
            path : 'M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0z',
            fillColor: '#3f4d67',
            fillOpacity: 0.8,
            anchor: new google.maps.Point(250,520),
            strokeWeight: 2,
            strokeColor : '#3f4d67',
            labelOrigin: {x:200, y: 200},
            scale: 0.07
        }

        google.maps.event.addListener(map, 'idle', function() { // 맵 로딩이 완료 후 함수 실행
            updateMarkers();
        });

        google.maps.event.addListener(map, 'zoom_changed', function() { // 맵 로딩이 완료 후 함수 실행
            now_zoom = map.getZoom();
            console.log('pre_zoom ' + pre_zoom + ' now_zoom ' + now_zoom);
            
            if(pre_zoom >= 20 && now_zoom < 20) { /// MAX_ZOOM = 22
                markerCluster.clearMarkers();   
                markerCluster = undefined;
            }

            pre_zoom = now_zoom;
        });

        // Custom InfoWindow
        google.maps.event.addListener(infowindow, 'domready', function() {
            var iwOuter = $('.gm-style-iw');
            var iwBackground = iwOuter.prev();
            iwBackground.children(':nth-child(2)').css({'background' : '#252525'});
            var iwmain = iwBackground.children(':nth-child(2)');
            iwBackground.children(':nth-child(4)').css({'display' : 'none'});
            var iwCloseBtn = iwOuter.next();
        });

        google.maps.event.addListener(map, 'click', function() {
            infowindow.close();
            setMarker_OriginIcon();
            click_id = -1; // 클릭이 끝나면 마커 id를 다시 -1로      
        });
    }

    /* 화면이 바뀔 때 마다 마커 업데이트 */
    function updateMarkers() { 
        var mapBounds = map.getBounds(); // 화면 경계 좌표 얻어서        
        var startDate = new Date(document.getElementById("start-date").value);
        var endDate = new Date(document.getElementById("end-date").value);

        if(startDate == "Invalid Date" || endDate == "Invalid Date" || startDate > endDate) { // 시작, 종료 날짜가 입력되었는지 체크
            window.alert("비정상 시간 입력");
            return -1;
        }
        endDate.setMinutes(endDate.getMinutes() + 1); // 시간이 분단위로 끊기니까 마지막 시간 + 1분으로 계산

        var data  = {
            "swlat":mapBounds.getSouthWest().lat(), // 지도 좌측 하단 위도
            "swlng":mapBounds.getSouthWest().lng(), // 좌측 하단 경도
            "nelat":mapBounds.getNorthEast().lat(), // 우측 상단 위도
            "nelng":mapBounds.getNorthEast().lng(),  // 우측 하단 경도
            "startDate":startDate.getTime(), //수정
            "endDate":endDate.getTime()  //수정
        };

        $.ajax({
            type: "POST",
            url: 'geo-Artifact.html',
            dataType:'json',
            data: data,
            success: function(markerList) { //마커 클리어후 다시 업데이트
                markerJson = JSON.parse(markerList);
                console.log(markerJson.length + " 개가 검색되었습니다."); // 추후 html에 띄우고
                if(markerJson.length == markers.length) {
                    return;
                }

                deleteMarkers();
                addMarkers(markerJson);
            }
        });
    }


    function addMarkers(markerJson) {
        var marker;
        
        for( var i=0; i<markerJson.length; i++) {
            marker = new google.maps.Marker({
                id: markerJson[i]['pk'],     // id
                position: { lat: markerJson[i]['fields']['lat'], lng: markerJson[i]['fields']['longt'] },
                map: map,
                icon: icon,
                label : {text:String(i+1),  // 이렇게 하면 전체 사진을 시간 순으로 라벨링
                        color: '#3f4d67',
                        fontWeight: 'bold',
                        fontSize:"15px"
                },
                labelContent : String(markerJson[i]['fields']['datetaken']), // timestamp
                zIndex: i
            });

            google.maps.event.addListener(marker, 'click', (function (marker) { // 마커 클릭 이벤트
                return function () {
                    if(click_id != -1) {
                        setMarker_OriginIcon();
                    }

                    click_id = marker.id; // 클릭한 마커 id를 전역으로

                    marker.setIcon(click_icon); 
                    marker.setLabel({text: marker.getLabel().text, // setLabel에서 text가 필수로 들어가야 함
                                color: '#ffffff',
                                fontWeight: 'bold',
                                fontSize:"15px"});
                    setInfoWindow(marker);
                }
            })(marker, i));
            markers.push(marker);
        }

        if(map.getZoom() >= 20) {
            setClusterer();
        }
    }

    /* click마커 아이콘 -> 기본 마커 아이콘으로 변환 */
    function setMarker_OriginIcon() {
        for(var i=0; i<markers.length; i++) {
            if(markers[i].id == click_id) {
                markers[i].setIcon(icon);
                markers[i].setLabel({text: markers[i].getLabel().text,
                            color: '#3f4d67',
                            fontWeight: 'bold',
                            fontSize:"15px"});
                break;
            }
        }
    }
    

    /* 마커 클러스터 커스텀 */
    function setClusterer() {

        var clusterStyle = [
            {
                textColor : '#3f4d67',
                textSize : 20,
                url: "/static/assets/images/map-marker.png",
                height: 50,
                width: 50,
                anchorText: [8, -4]
            }
        ]
        var options_markerclusterer = {
            gridSize: 20,
            maxZoom: 22,
            styles: clusterStyle
            // imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        };

        markerCluster = new MarkerClusterer(map, markers, options_markerclusterer); 

        google.maps.event.addListener(markerCluster, 'clusterclick', function(cluster) {    
            var cluMarkers = cluster.getMarkers();
            var tmp = null;
            var clustring;
            var marker;
        
            if (map.getZoom() <= markerCluster.getMaxZoom()) {

            var cluContent = '<div class="clu-iw-content>' +
                                '<div class="clu-iw-header">' +
                                    '<p>' + cluMarkers.length + '개의 사진이 존재합니다.</p>' +
                                '</div>' +
                                '<div id="clu-body" class="clu-iw-body">' + tmp +                                     
                                '</div>' +
                            '</div>';
                                
            clustring ='<button class="clu-iw-btn" style="width:100%; height:40px" onclick="setInfoWindow(cluMarkers[0])">' + cluMarkers[0]['labelContent'] + '</button> ';
            
            for(i=1; i<cluMarkers.length; i++) {
                clustring = clustring + '<button class="clu-iw-btn" style="width:100%; height:40px" onclick="setInfoWindow(cluMarkers[i])">' + cluMarkers[i]['labelContent'] + '</button> ';
                //array.push('<button style="width:100%">' + cluMarkers[i]['labelContent'] + '</button>');
            }

            cluContent = cluContent.replace(tmp, clustring);

            infowindow.setContent(cluContent);
            infowindow.setPosition(cluster.getCenter());
            infowindow.open(map);
            }
        });
    }


    /* 인포윈도우 셋팅 with Ajax + reverse GeoCoding */
    function setInfoWindow(marker) {
        var address;
        geocoder.geocode({ location: marker['position'] }, (results, status) => {
            if (status === "OK") {
                if (results[1]) {
                    address = results[1]['formatted_address'];
                    $.ajax({
                        url: '/geo-Artifact.html',
                        data: { "id": marker.id,
                                "lat":marker.position.lat(),
                                "lng":marker.position.lng() },        // 마커 id 값으로 data 불러오고
                        success: function (data) {      // data엔 id로 검색한 필요한 좌표에 대한 부가적인 정보를 서버에서 전달하여 담겨있다.
                            dataJson = JSON.parse(data) // JSON으로 파싱
                            console.log(dataJson[0]['fields']['data'].substr(-4))
                            // video_type = ['.mp4']; // 여기에 영상 확장자 다 넣어
                            //var path = dataJson[0]['fields']['data']; // 경로를 넣어, 나중에 확장자 구하려고
                            var contentString=""
                            
                            for(var i=0;i<dataJson.length;i++){
                                var a=''
                                var lf=''
                                var rf=''
                                if(i!=0)a='none'
                                if(i==0)lf='none'
                                if(i==dataJson.length-1)rf='none'
                                
                                if(dataJson[i]['fields']['data'].substr(-4)!='.mp4'){
                             contentString += `<div class="iw-content" id = "${i}" style="display:${a}"> 
                                <div class= "iw-image"> 
                               <i class="fas fa-chevron-left" style="display:${lf};margin:5px"></i><i class="fas fa-chevron-right"style='float:right;display:${rf};margin:5px' ></i>
                                <img id="info-img" src=${dataJson[i]['fields']['data']} style="height:300px">  </img>
                                </div>
                                <div class= "iw-body">
                                <ul id = "iw-info-list" class="info-list">
                                <li id="info-Name">파일 명 :  ${dataJson[i]['fields']['displayname']}</li>
                                <li id="info-Date">촬영 시각 : ${dataJson[i]['fields']['datetaken']} </li>
                                <li id="info-Add">상세 주소 : ${address} </li>
                                </ul>
                                </div>
                                </div>`
                                }else{
                                   contentString += `<div class="iw-content" id ="${i}" style="display:${a}"> 
                                <div class= "iw-video">  <i class="fas fa-chevron-left" style="display:${lf};margin:5px"></i><i class="fas fa-chevron-right"style='float:right ;display:${rf};margin:5px'></i>
                                <video controls id="info-video" src=${dataJson[i]['fields']['data']} style="width:300px;height:300px"> </video>
                                </div>
                                <div class= "iw-body">
                                <ul id = "iw-info-list" class="info-list">
                                <li id="info-Name">파일 명 :  ${dataJson[i]['fields']['displayname']}</li>
                                <li id="info-Date">촬영 시각 : ${dataJson[i]['fields']['datetaken']} </li>
                                <li id="info-Add">상세 주소 : ${address} </li>
                                </ul>
                                </div>
                                </div>`         
                                }
                            }
                            
                              infowindow.setContent(contentString);
                                infowindow.open(map, marker);
                                updateMarkers(); // 줌과 이동 옵션을 지우고 클릭시 업데이트를 새로 하는 걸로
                        }
                    });
                } 
                else {
                    window.alert("No results found");
                }
            } 
            else {
                window.alert("Geocoder failed due to: " + status);
            }
        });   
    }

    function removeAllMarkers() {
        for (let i = 0; i < markers.length; i++) {
            if (!markers[i].getMap()) continue;
            markers[i].setMap(null);
        }
    }

    function deleteMarkers() {
        removeAllMarkers();
        markers = [];
    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>
<script>
$(document).on('click','.fa-chevron-right',function(){
    var id=$(this).closest('.iw-content')[0].id
    $(`#${id}`).css("display",'none')
    $(`#${parseInt(id)+1}`).css("display",'')
})
$(document).on('click','.fa-chevron-left',function(){
     var id=$(this).closest('.iw-content')[0].id
    $(`#${id}`).css("display",'none')
    $(`#${parseInt(id)-1}`).css("display",'')
})

</script>

{% endblock javascripts %}