{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link rel="stylesheet" href="/static/assets/css/jqcloud.min.css">

{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Sample Page</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <input id='input' type="number" placeholder="보고 싶은 개수"></input>
                                    <button id="btn">button</button>
                                </div>
                                <div class="card-block">
                                    <div id='keyword'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/jqcloud.js"></script>

{{words|json_script:'dict-id'}}
<script>
 $( document ).ready(function() {
    var profile = $("#dict-id").text();
    var profileJson = JSON.parse(profile);
  

  $('#keyword').jQCloud(profileJson,{
      width: 900,
      height: 900,
      center:{x:0.7,y:0.5},
      fontSize:{from:0.1,to:0.02}
  }); 

  $("#btn").click(function(){//버튼 눌러서 개수 받아옴
      var n=$("#input").val()
      if(n=='')n={{words|length}}
      for(var i=0;i<n;i++){
      $('#keyword').find("span").eq(i).css('display','')
      }
      for(var i=n;i<profileJson.length;i++){
      $('#keyword').find("span").eq(i).css('display','none')
      }
  })

 
 });
$(document).on('mouseenter','span',function(){//동적으로 생선된 span태그의 이벤트 감지를 위해
		$('span').tooltip()
	}) 


</script>
{% endblock javascripts %}
