{% extends "layouts/base.html" %}
{%load static%}
{% block title %} Ui BreadCrumb {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Breadcrumbs & Pagination</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Basic Componants</a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Breadcrumbs & Pagination</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ Breadcrumbs & Pagination ] start -->
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>기기모델</h5>
                                </div>
                                <div class="card-body">
                                    <!-- 여기에 이미지-->
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtCdfWbA_FVfr6UX9MgtLlx51BY-Hyq13rEKeTnQl-u9duVOJAPCLJDoUguw&s" >
                                    <!-- <img src="{%static 'img/~~~~.PNG'}" alt="~~"> --> 
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>상세정보</h5>
                                </div>
                                <table class="table">
                                        <tr>
                                            <th>안드로이드 버전: </th>
                                            <td>11</td>
                                        </tr>
                                        <tr>
                                            <th>제조사: </th>
                                            <td>22</td>
                                        </tr>
                                        <tr>
                                            <th>모델번호: </th>
                                            <td>33</td>
                                        </tr>
                                        <tr>
                                            <th>SD카드: </th>
                                            <td>44</td>
                                        </tr>
                                        <tr>
                                            <th>Local: </th>
                                            <td>55</td>
                                        </tr>    
                                </table>       
                            </div>
                        </div>
                        
                        <!-- [ Breadcrumbs & Pagination ] end -->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
