{% extends "layouts/base.html" %}

{% block title %} Timeline {% endblock %} 



{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Timeline</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Timeline</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Duration</h5>
                                <form id="duration" style="text-align: center;">
                                    <input id="datetimepicker1" type="text">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input id="datetimepicker2" type="text">
                                    &nbsp;&nbsp;&nbsp;
                                    <input id="sendbutton" type="button" value="입력" onclick="send()">
                                </form>
                            </div>
                        </div>
                    </div>

                    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
                    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
                    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
                    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
                    <link rel="stylesheet" type="text/css" href="/static/assets/css/jquery.datetimepicker.css"/ >
                    <script src="/static/assets/js/jquery.datetimepicker.full.min.js"></script>

                    {{mms|json_script:'dict-id'}}
                    <script type="text/javascript">

                        // Themes begin
                        am4core.useTheme(am4themes_animated);
                        // Themes end

                        var chart = am4core.create("chartdiv", am4charts.XYChart);

                        var data = [];
                        var cars = 50;
                        var motorcycles = 50;
                        var bicycles = 50;
                        for (let i = -1400; i < 0; i++) {
                        let date = new Date();
                        date.setHours(0, 0, 0, 0);
                        date.setDate(i);
                        cars -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
                        motorcycles -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
                        bicycles -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
                        if (cars < 0) {
                            cars = Math.round(Math.random() * 10);
                        }
                        if (motorcycles < 0) {
                            motorcycles = Math.round(Math.random() * 10);
                        }
                        if (bicycles < 0) {
                            bicycles = Math.round(Math.random() * 10);
                        }
                        data.push({ date: date, cars: cars, motorcycles: motorcycles, bicycles: bicycles });
                        }

                        chart.data = data;

                        // Create axes
                        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                        dateAxis.renderer.minGridDistance = 10;
                        dateAxis.renderer.labels.template.rotation = 90;
                        dateAxis.renderer.labels.template.horizontalCenter = "left";
                        dateAxis.renderer.labels.template.verticalCenter = "middle";
                        dateAxis.groupData = true;

                        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                        //valueAxis.tooltip.disabled = true;

                        // Create series
                        var series = chart.series.push(new am4charts.LineSeries());
                        series.dataFields.dateX = "date";
                        series.name = "cars";
                        series.dataFields.valueY = "cars";
                        series.tooltipHTML = "<img src='https://www.amcharts.com/lib/3/images/car.png' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px;'><span style='font-size:14px; color:#000000;'><b>{valueY.value}</b></span>";
                        series.tooltipText = "[#000]{valueY.value}[/]";
                        series.tooltip.background.fill = am4core.color("#FFF");
                        series.tooltip.getStrokeFromObject = true;
                        series.tooltip.background.strokeWidth = 3;
                        series.tooltip.getFillFromObject = false;
                        series.fillOpacity = 0.6;
                        series.strokeWidth = 2;
                        series.stacked = true;

                        series.tooltip.pointerOrientation = "vertical";

                        var series2 = chart.series.push(new am4charts.LineSeries());
                        series2.dataFields.dateX = "date";
                        series2.name = "motorcycles";
                        series2.dataFields.valueY = "motorcycles";
                        series2.tooltipHTML = "<img src='https://www.amcharts.com/lib/3/images/motorcycle.png' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px;'><span style='font-size:14px; color:#000000;'><b>{valueY.value}</b></span>";
                        series2.tooltipText = "[#000]{valueY.value}[/]";
                        series2.tooltip.background.fill = am4core.color("#FFF");
                        series2.tooltip.getFillFromObject = false;
                        series2.tooltip.getStrokeFromObject = true;
                        series2.tooltip.background.strokeWidth = 3;
                        series2.sequencedInterpolation = true;
                        series2.fillOpacity = 0.6;
                        series2.strokeWidth = 2;
                        series2.stacked = true;

                        series2.tooltip.pointerOrientation = "vertical";

                        var series3 = chart.series.push(new am4charts.LineSeries());
                        series3.name = "bicycles";
                        series3.dataFields.dateX = "date";
                        series3.dataFields.valueY = "bicycles";
                        series3.tooltipHTML = "<img src='https://www.amcharts.com/lib/3/images/bicycle.png' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px;'><span style='font-size:14px; color:#000000;'><b>{valueY.value}</b></span>";
                        series3.tooltipText = "[#000]{valueY.value}[/]";
                        series3.tooltip.background.fill = am4core.color("#FFF");
                        series3.tooltip.getFillFromObject = false;
                        series3.tooltip.getStrokeFromObject = true;
                        series3.tooltip.background.strokeWidth = 3;
                        series3.sequencedInterpolation = true;
                        series3.fillOpacity = 0.6;
                        series3.strokeWidth = 2;
                        series3.stacked = true;
                        series3.defaultState.transitionDuration = 1000;

                        series3.tooltip.pointerOrientation = "vertical";

                        chart.cursor = new am4charts.XYCursor();
                        chart.cursor.xAxis = dateAxis;

                        chart.scrollbarX = new am4core.Scrollbar();

                        // Set up drill-down
                        dateAxis.renderer.labels.template.events.on("hit", function(ev) {
                        var start = ev.target.dataItem.date;
                        var end = new Date(start);
                        end.setMonth(end.getMonth() + 1);
                        dateAxis.zoomToDates(start, end);
                        })

                        // Add a legend
                        chart.legend = new am4charts.Legend();
                        chart.legend.position = "top";

                        function send()
                        {
                            const startDate = new Date(document.getElementById("datetimepicker1").value)
                            const endDate = new Date(document.getElementById("datetimepicker2").value)

                            var profile = document.getElementById("dict-id").textContent
                            var profileJson = JSON.parse(profile)

                            var mSize = "{{mms|length}}" // 마커 개수
                            var mDate
                            var mcount = 0
                            for (var i = 0; i < mSize; i++) {
                                mDate = new Date(profileJson[i][3])
                                console.log(mDate)
                                if (startDate <= mDate && mDate <= endDate) {
                                    mcount = mcount + 1
                                }
                            }
                            console.log(mcount)
                            console.log(startDate.getFullYear())
                            console.log(endDate.getFullYear())
                            chart.data = [{
                            "year": startDate.getFullYear().toString(),
                            "cars": mcount,
                            "motorcycles": mcount,
                            "bicycles": mcount
                            }, {
                            "year": endDate.getFullYear().toString(),
                            "cars": mcount,
                            "motorcycles": mcount,
                            "bicycles": mcount 
                            }];
                        }

                    </script>
                    
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-uppercase" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="true">Stacked Chart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">Result</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                                <!-- [ Stacked Chart ] start -->
                                <div class="card">
                                    <div class="card-block">
                                        <div id="chartdiv"></div>
                                        <!-- Chart code -->
                                    </div>
                                    <script>
                                        $('#datetimepicker1').datetimepicker();
                                        $('#datetimepicker2').datetimepicker();
                                    </script>
                                </div>
                                <!-- [ Stacked Chart ] end -->
                            </div>
                            <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
                                <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>

    
</div>




{% endblock content %}






