{% extends "layouts/base.html" %}

{% block title %} Timeline {% endblock %} 

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Timeline</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Timeline</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
                    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
                    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
                    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
                    <link rel="stylesheet" type="text/css" href="/static/assets/css/jquery.datetimepicker.css"/ >
                    <script src="/static/assets/js/jquery.datetimepicker.full.min.js"></script>

                    {{mms|json_script:'dict-id-m'}}
                    {{calllog|json_script:'dict-id-c'}}
                    <script type="text/javascript">
                        // Themes begin
                        am4core.useTheme(am4themes_animated);
                        // Themes end

                        var chart = am4core.create("chartdiv", am4charts.XYChart);

                        var mprofile = document.getElementById("dict-id-m").textContent
                        var mprofileJson = JSON.parse(mprofile)

                        var cprofile = document.getElementById("dict-id-c").textContent
                        var cprofileJson = JSON.parse(cprofile)

                        var mSize = "{{mms|length}}" // 마커 개수
                        var cSize = "{{calllog|length}}"

                        var startDate = 0
                        var endDate = 0

                        for (var i = 0; i < mSize; i++) {
                            mDate = new Date(mprofileJson[i][3])

                            if (i == 0) {
                                startDate = mDate
                            }

                            if (i == mSize - 1) {
                                endDate = mDate
                            }
                        }

                        for (var i = 0; i < cSize; i++) {
                            cDate = new Date(cprofileJson[i][2])

                            if (cDate < startDate) {
                                startDate = cDate
                            }

                            if (cDate > endDate) {
                                endDate = cDate
                            }
                        }

                        var data = [];
                        var messages = 50;
                        var calls = 50;
                        var internet = 50;
                        var downloads = 50;
                        var media = 50;

                        var bicycles = 50;

                        var mDate = 0
                        var cDate = 0

                        var mCount = 50
                        var cCount = 50

                        var imsi = startDate
                        imsi.setHours(imsi.getHours() - 1)
                        //endDate = new Date(2024, 4, 4)

                        for (let i = 0; ; i++) {
                            imsi.setHours(imsi.getHours() + 1)

                            if (imsi.getHours() > endDate.getHours() && imsi.getDate() > endDate.getMonth() && imsi.getMonth() > endDate.getMonth() && imsi.getFullYear() >= endDate.getFullYear()) {
                                break;
                            }
                            
                            mCount = 0
                            for (var m = 0; m < mSize; m++) {
                                mDate = new Date(mprofileJson[m][3])
                                if (mDate.getHours() == imsi.getHours() && mDate.getDate() == imsi.getDate() && mDate.getMonth() == imsi.getMonth() && mDate.getFullYear() == imsi.getFullYear()) {
                                    mCount += 1;
                                }
                            }
                            messages = mCount;

                            cCount = 0
                            for (var c = 0; c < cSize; c++) {
                                cDate = new Date(cprofileJson[c][2])
                                if (cDate.getHours() == imsi.getHours() && cDate.getDate() == imsi.getDate() && cDate.getMonth() == imsi.getMonth() && cDate.getFullYear() == imsi.getFullYear()) {
                                    if (cprofileJson[c][3] != 0) {
                                        cCount += 1;
                                    }
                                }
                            }
                            calls = cCount

                            /*mCount -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);
                            cCount -= Math.round((Math.random() < 0.5 ? 1 : -1) * Math.random() * 10);

                            if (mCount < 0) {
                            mCount = Math.round(Math.random() * 10);
                            }
                            if (cCount < 0) {
                                cCount = Math.round(Math.random() * 10);
                            }

                            messages = mCount
                            calls = cCount*/
                            
                            data.push({ hour: new Date(imsi.getFullYear(), imsi.getMonth(), imsi.getDate(), imsi.getHours()), messages: messages, calls: calls});
                        }

                        chart.data = data;

                        chart.dateFormatter.inputDateFormat = "HH";
                        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                        dateAxis.renderer.minGridDistance = 100;
                        dateAxis.startLocation = 0.5;
                        dateAxis.endLocation = 0.5;
                        dateAxis.baseInterval = {
                        timeUnit: "hour",
                        count: 1
                        }

                        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                        valueAxis.tooltip.disabled = true;

                        // Create series
                        var series = chart.series.push(new am4charts.LineSeries());
                        series.dataFields.dateX = "hour";
                        series.name = "messages";
                        series.dataFields.valueY = "messages";
                        series.tooltipHTML = "<img src='https://www.amcharts.com/lib/3/images/car.png' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px;'><span style='font-size:14px; color:#000000;'><b>{valueY.value}</b></span>";
                        series.tooltipText = "[#000]{valueY.value}[/]";
                        series.tooltip.background.fill = am4core.color("#FFF");
                        series.tooltip.getStrokeFromObject = true;
                        series.tooltip.background.strokeWidth = 3;
                        series.tooltip.getFillFromObject = false;
                        series.fillOpacity = 0.6;
                        series.strokeWidth = 2;
                        series.stacked = true;

                        //series.tooltip.pointerOrientation = "vertical";

                        var series2 = chart.series.push(new am4charts.LineSeries());
                        series2.dataFields.dateX = "hour";
                        series2.name = "calls";
                        series2.dataFields.valueY = "calls";
                        series2.tooltipHTML = "<img src='https://www.amcharts.com/lib/3/images/motorcycle.png' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px;'><span style='font-size:14px; color:#000000;'><b>{valueY.value}</b></span>";
                        series2.tooltipText = "[#000]{valueY.value}[/]";
                        series2.tooltip.background.fill = am4core.color("#FFF");
                        series2.tooltip.getFillFromObject = false;
                        series2.tooltip.getStrokeFromObject = true;
                        series2.tooltip.background.strokeWidth = 3;
                        series2.sequencedInterpolation = true;
                        series2.fillOpacity = 0.6;
                        series2.strokeWidth = 2;
                        series2.stacked = true;

                        //series2.tooltip.pointerOrientation = "vertical";

                        /*var series3 = chart.series.push(new am4charts.LineSeries());
                        series3.name = "bicycles";
                        series3.dataFields.dateX = "hour";
                        series3.dataFields.valueY = "bicycles";
                        series3.tooltipHTML = "<img src='https://www.amcharts.com/lib/3/images/bicycle.png' style='vertical-align:bottom; margin-right: 10px; width:28px; height:21px;'><span style='font-size:14px; color:#000000;'><b>{valueY.value}</b></span>";
                        series3.tooltipText = "[#000]{valueY.value}[/]";
                        series3.tooltip.background.fill = am4core.color("#FFF");
                        series3.tooltip.getFillFromObject = false;
                        series3.tooltip.getStrokeFromObject = true;
                        series3.tooltip.background.strokeWidth = 3;
                        series3.sequencedInterpolation = true;
                        series3.fillOpacity = 0.6;
                        series3.strokeWidth = 2;
                        series3.stacked = true;
                        series3.defaultState.transitionDuration = 1000;*/

                        //series3.tooltip.pointerOrientation = "vertical";

                        chart.cursor = new am4charts.XYCursor();
                        chart.cursor.xAxis = dateAxis;

                        chart.scrollbarX = new am4core.Scrollbar();

                        // Add a legend
                        chart.legend = new am4charts.Legend();
                        chart.legend.position = "top";
                    </script>
                    
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-uppercase" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="true">Stacked Chart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">Result</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                                <!-- [ Stacked Chart ] start -->
                                <div class="card">
                                    <div class="card-block">
                                        <div id="chartdiv"></div>
                                        <!-- Chart code -->
                                    </div>
                                </div>
                                <!-- [ Stacked Chart ] end -->
                            </div>
                            <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Duration</h5>
                                            <form id="duration" style="text-align: center;">
                                                <input id="datetimepicker1" type="text">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <input id="datetimepicker2" type="text">
                                                &nbsp;&nbsp;&nbsp;
                                                <input id="sendbutton" type="button" value="입력" onclick="send()">
                                            </form>
                                            <script>
                                                $('#datetimepicker1').datetimepicker();
                                                $('#datetimepicker2').datetimepicker();
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- [ basic-table ] start -->

                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}
